duckdb
openpyxl
pymysql
pandas
apache-airflow-providers-mysql
pyxirr
numpy
numpy-financial
xlrd
oauth2client
seaborn
matplotlib
SQLAlchemy
mysql-connector-python
paramiko
python-dateutil
mysqlclient
pretty-html-table
ipython
XlsxWriter
chardet
pyarrow
snowflake-connector-python
apache-airflow-providers-snowflake
scipy
tqdm
streamlit
PyYAML
snowpark
